@font-face {
    font-family: YuGiOh;
    src: url(/assssssssssssssssssssssssets/Yu-Gi-Oh!\ Matrix\ Regular\ Small\ Caps\ 1.ttf);
}


body {
    background-color: black;
}


.headBox {
    background: radial-gradient(circle, rgba(255, 214, 0, 1) 50%, rgba(255, 199, 0, 1) 81%, rgba(255, 184, 0, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98px;
}

.headBox p {
    font-size: 128px;
    font-family: YuGiOh;
}


.topFive {
    display: flex;
    justify-content: space-evenly;
}

.bgWhite {
    background-color: white;
    padding-top: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

hr {
    border-top: 1.5px solid #ffcb49;
    opacity: 100%;
    width: 500px;
}

.menuText {
    font-size: 85px;
    color: #FFCC49;
    font-family: YuGiOh;
}

.line {
    border: 1.5px solid #FFCC49;
    width: 590px;
}

.drinkText {
    color: white;
    font-family: YuGiOh;
    font-size: 55px;
}

.priceText {
    display: flex;
    align-items: center;
    font-size: 60px;
    font-family: YuGiOh;
    color: #FFCC49;
}

.foodText {
    color: white;
    font-family: YuGiOh;
    font-size: 55px;
}

.foodText div {
    font-size: 45px;
    color: #A19C9C;
}





.foodInfoJ {
    font-size: 20px;
    line-height: 40px;
}

.viewMenuBtnJ {
    height: 100px;
    width: 270px;

}

.btn-primary {
    background: rgb(255,214,0);
    background: radial-gradient(circle, rgba(255,214,0,1) 45%, rgba(255,199,0,1) 85%, rgba(255,184,0,1) 100%);
    border-color: #FFCC49;
    color: black;
}

.btn-primary:click {
    background-color: #FFCC49;
    border-color: #FFCC49;
}

.btn-primary:hover {
    background: #FFCC49;
    border-color: #FFCC49;
    color: black;
}

.menuPaddingJ {
    padding-top: 50px;
}

.carouselHeightJ {
    height: 902px;
}

.imgCoverJ {
    object-fit: cover;
}

.bgWhiteJ {
    background-color: white;
}

.infoLogoSizeJ {
    width: 190px;
    height: 170px;
}

.infoTxtSizeJ {
    font-size: 32px;
    line-height: 60px;
}

.infoLogoSizeJ2 {
    height: 144px;
    width: 164px;
    margin-top: 25px;
}

.centerJ {
    display: flex;
    justify-content: center;
}

.txtCenterJ {
    text-align: center;
}

.yellowJ {
    color: #FFCC49;
}

.whiteJ {
    color: white;
}

.homePageMargin {
    margin-left: 175px;
    margin-right: 175px;
}

.carouselBgJ {
    background-color: rgba(0, 0, 0, 0.511);
}

.reviewImgJ {
    width: 204px;
    height: auto;
}

.starJ {
    width: 32px;
    height: auto;
    padding: 0 5px;
}

.quotesJ {
    width: 45px;
}

.dotsJ {
    width: 45px;
}

.reviewPaddingJ {
    padding-left: 50px;
    padding-right: 50px;
}

.hrLineJ {
    height: 3px;
    background-color: #FFCC49;
    opacity: 100;
    width: 100%;
}

.footerPaddingJ {
    padding-left: 60px;
    padding-right: 60px;
}

.videoJ {
    width: 100%;
    height: 413px;
    object-fit: cover;
}

.banhMiPaddingJ {
    padding-top: 60px;
    padding-bottom: 60px;
}

.phoneJ {
    width: 100%;
    height: 373px;
    padding: 0;
}

.cardJ {
    background: none;
}

.cuisineJ {
    font-size: 20px;
}

.absoluteJ {
    position: absolute;
}

.behindTheCounterJ {
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    font-size: 96px;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 2px;
}

.viewMenuJ {
    left: 50%;
    top: 75%;
    transform: translate(-50%, -50%);
}


.sloganJ {
    font-size: 80px;
    left: 50%;
    top: 45%;
    text-align: center;
    transform: translate(-50%, -50%);
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
}

.contactBgJ {
    background-image: url(../assets/map.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -340px;
}

.contactIconsJ {
    width: 122px;
    height: auto;
    padding-top: 25px;
    padding-bottom: 10px;
}

.contactRowPaddingJ {
    padding-left: 75px;
    padding-top: 7px;
}

.contactRowPadding2J {
    padding-top: 7px;
}

.contactUsPaddingJ {
    padding-top: 50px;
}

.contactUsPaddingJ2 {
    padding-top: 20px;
}

.evenJ {
    display: flex;
    justify-content: space-evenly;
}

.cardRadiusJ {
    border-radius: 45px;
    width: 545px;
}

.dontBeAfraidJ {
    font-size: 48px;
}

@font-face {
    font-family: Sans Serif Collection;
    src: url(../assets/OpenSans-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: Yu gi oh;
    src: url(../assets/Yu-Gi-Oh!\ Matrix\ Regular\ Small\ Caps\ 1.ttf);
}

@font-face {
    font-family: Abril Fatface;
    src: url(../assets/AbrilFatface-Regular.ttf);
}

.sansCollectionJ {
    font-family: Sans Serif Collection;
}

.yugiJ {
    font-family: Yu gi oh;
}

.abrilFatfaceJ {
    font-family: Abril Fatface;
}

.footerFontSize {
    font-size: 20px;
}

.footerFontSize2 {
    font-size: 24px;
}

.footerFontSize3 {
    font-size: 48px;
}

.footerIconsJ {
    width: 120px;
    height: 100px;
    object-fit: fill;
}

.navLinksJ {
    font-size: 28px;
    font-family: Sans Serif Collection;
}

.logoSizeJ {
    width: 120px;
}

.titleFontJ {
    font-size: 64px;
}

.alignCenterJ {
    display: flex;
    align-items: center;
}

.dontBeAfraidBodySizeJ {
    font-size: 26px;
}

.contactUsBodySizeJ {
    font-size: 24px;
    line-height: 42px;
}

.contactUsBodySizeJ2 {
    font-size: 24px;
    line-height: 42px;
}

.redJ {
    color: red;
}

.blueJ {
    font-size: 28px;
    color: #0084E3;
    padding-top: 70px;
}

.blueJ2 {
    font-size: 28px;
    padding-top: 25px;
    width: 80%;
    text-decoration: none;
}

.contactBodyTopPaddingJ {
    padding-top: 20px;
}



.banhMiHeadJ {
    padding-left: 25px;
}

.sandwichJ {
    font-size: 36px;
    color: white;
}

.sandwichJ2 {
    font-size: 24px;
    color: #a7a7a7;
}

.sandwichTxtJ {
    width: 203px;
}

.starRowJ {
    width: 130px;
    padding-left: 12px;
}

.star2J {
    width: 22px;
    padding: 0 1px;
}

.aLittleAboutJ {
    font-size: 48px;
}

.chefJ {
    width: 55%;
}

.aLittleAboutJ2 {
    padding-top: 40px;
    line-height: 40px;
    font-size: 24px;
}

.contactPaddingJ {
    padding-top: 40px;
    padding-bottom: 45px
}

.orderTextJ {
    width: 80%;
}

.taroTxtJ {
    width: 140px;
}

.greenTeaTxtJ {
    width: 220px;
}

.thaiTeaTxtJ {
    width: 145px;
}

.avocadoTxtJ {
    width: 210px;
}

.honeyDewTxtJ {
    width: 290px;
}

.appearJ {
    display: none;
}

.footerIconsMobileJ {
    padding-right: 5px;
    padding-left: 0px;
    width: 36px;
}

.rightJ {
    display: flex;
    justify-content: end;
}

.bSMobileFooterJ {
    font-size: 11px
}

.content {
    position: relative;
}

#flush-collapseOne {
    position: absolute;
    z-index: 1;
}

.blackBg {
    background-color: black;
}

.nav-link:hover {
    text-decoration: underline;
    color: #FFCC49;
}

@media screen and (max-width: 600px) {
    .behindTheCounterJ {
        font-size: 0px;
    }

    .footerFontSize {
        font-size: 11px;
    }

    .videoJ {
        width: 0px;
        height: 0px;
    }

    .orderTextJ {
        width: 85%;
    }

    .aLittleAboutJ {
        font-size: 40px;
        text-align: center;
    }

    .aLittleAboutJ2 {
        font-size: 19px;
        padding-left: 15px;
        padding-right: 15px;
        line-height: 30px;
    }

    .chefJ {
        width: 80%;
    }

    .banhMiPaddingJ {
        padding-top: 45px;
        padding-bottom: 30px;
    }

    .phoneImageJ {
        width: 13px;
        height: auto;
    }



    .contactRowJ {
        width: 0px;
        font-size: 0px;
        height: 0px;
    }

    .contactBgJ {
        background-image: url();
    }

    .cardRadiusJ {
        width: 340px;
        margin-bottom: 40px;
    }

    .contactRowPaddingJ {
        padding-left: 0px;
        padding-top: 2px;
    }

    .contactRowPadding2J {
        padding-top: 2px
    }

    .contactPaddingJ {
        padding-bottom: 10px;
    }

    .contactUsBodySizeJ {
        font-size: 18px;
        line-height: 30px;
        text-align: start;
    }

    .contactUsBodySizeJ2 {
        font-size: 18px;
        line-height: 30px;
        padding-left: 80px;
    }

    .orderTextJ2 {
        width: 95%;
    }

    .contactIconsJ {
        width: 75px;
    }

    .contactBodyTopPaddingJ {
        padding-top: 10px;
    }

    .dontBeAfraidBodySizeJ {
        font-size: 20px;
    }

    .blueJ2 {
        font-size: 20px;
        padding-top: 10px;
    }

    .blueJ {
        font-size: 20px;
        padding-top: 10px;
    }

    .disappearJ {
        display: none;
    }

    .appearJ {
        display: block;
    }
}