body {
    background-color: black;
}

.carouselHeightJ {
    height: 902px;
}

.imgCoverJ {
    object-fit: cover;
}

.bgWhiteJ {
    background-color: white;
}

.infoLogoSizeJ {
    width: 190px;
    height: 190px;
}

.centerJ {
    display: flex;
    justify-content: center;
}

.txtCenterJ {
    text-align: center;
}

.yellowJ {
    color: yellow;
}

.whiteJ {
    color: white;
}

.homePageMargin {
    margin-left: 175px;
    margin-right: 175px;
}

.reviewImgJ {
    width: 204px;
    height: auto;
}

.starJ {
    width: 45px;
    height: auto;
}

.quotesJ {
    width: 45px;
}

.dotsJ {
    width: 45px;
}

.reviewPaddingJ {
    padding-left: 50px;
    padding-right: 50px;
}

.hrLineJ {
    height: 3px;
    background-color: yellow;
    opacity: 100;
    width: 100%;
}

.footerPaddingJ {
    padding-left: 60px;
    padding-right: 60px;
}

.videoJ {
    width: 100%;
    height: 413px;
    object-fit: cover;
}

.banhMiPaddingJ {
    padding-top: 60px;
    padding-bottom: 60px;
}